@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: #fef6f0;
}

html,
body {
    min-height: "100vh";
    min-width: "100vw";
}

body {
    background: radial-gradient(at top left, #f89773 0%, #ae6552 100%);
    background-repeat: no-repeat;
}

h1 {
    font-size: clamp(0.5rem, 1rem + 10vw, 2rem);
}
